.app-container{
  position: relative;
}

.logout-button{
  position: absolute;
  top:0;
  right:0;
}

.app-main{
  margin-top:15px;
  margin-bottom: 60px;
}

.app-header{
  height:300px;
}

.app-header__logo{
  height:100%;
}